
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    max-width: 1000px;
    margin: auto;
}
h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1.2em;
    padding-top: 0.8em;
    padding-bottom: 0.5em;
}

main { 
    display: grid;
    grid-template-columns: 33% 67%;
    margin-top: 2.5em;
}
header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 3em 2em;
}

i {
    margin-right: .4em;
}

p {
    margin: .15em auto
}
.skills ul{
    column-count: 2;
    padding-left: 0.5em;
}
.skills li{
    margin: 5;
}
hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}
#mainLeft {
    border-right: 1px solid lightgray;
}
#exp,#proj,#work,#volun{
    padding-bottom: 0.2em;
}
.curriculum ul {
    padding-left: 0.5em;
}
.curriculum li{
        margin: 5;
}
img{
    max-width: 100%;  
    height: auto;  
    width:140px;
    border-radius: 70px;
    text-align: center;
    padding: auto;
}
